.container {
    background-color: 
    #F5F5F5;
}

.header-container{
    background-color: #fff;
    width: 100vw;
    height: 80px;
}

.header {
    color: #585E65;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title-unordered{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}

.header-title{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header-unordered {
    display: flex;
    align-items: center;
}

.header-list {
    margin-right: 40px;
    font-size: 16px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 40px;
    margin: 20px 0;
    color: #FFFFFF;
    background-color: #4C6EF5;
    margin-right: 20px;
    border-radius: 8px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.main-unordered {
    display: flex;
    flex-wrap: wrap;
}

.main-list {
    width: 280px;
    height: 400px;
    background-color: #FFFFFF;
    margin: 16px 20px;
    margin-left: 0;
}

.main-image {
    width: 282px;
    height: 207px;
    width: 100%;
    padding-bottom: 20px;
}

.main-info{
    padding: 16px;
}

.main-product-name {
    padding-bottom: 16px;
    font-size: 16px;
}

.main-price {
    padding-bottom: 16px;
    font-size: 16px;
}

.main-button {
display: flex;
justify-content: center;
align-items: center;
width: 250px;
height: 45px;
color: #FFFFFF;
background-color: #4C6EF5;
border-radius: 8px;
font-size: 16px;
}






